
<!-- ========================================= -->
<!-- !                FOOTER   http://zurb.com/building-blocks/footer                -->
<!-- ========================================= -->
<footer>

    <section> <!-- START: Brand Trust   -->

        <!-- ========================================= -->
        <!-- !             BRAND TRUST                 -->
        <!-- ========================================= -->
        <div class="custom-panel grey brand-trust">
            <div class="row">
                <div class="large-12 columns">
                    <h2 class="show-for-sr">Proud Memebers of Australian Labradoodle Association of America</h2>
                    <p>We are proud to be members of the Australian Labradoodle Association of America and the International Australian Labradoodle Association, Inc. We happily adhere to their strict breeding standards and code of ethics.</p>
                    <ul class="small-block-grid-1 medium-block-grid-3 large-block-grid-3" data-equalizer data-equalizer-mq="medium-up">
                        <li data-equalizer-watch >
                            <h3 class="show-for-sr" itemprop="memberOf">ALAA Golden Paw Breeder</h3>
                            <img src="assets/img/pgs/ALAA-Golden-Paw_Breeder.png" width="241" height="212" alt="ALAA Golden Paw Breeder" itemprop="image" />
                        </li>
                        <li data-equalizer-watch>
                            <h3 class="show-for-sr" itemprop="memberOf">Austrailian Labradoodle Association of America</h3>
                            <div class="table">
                                <div class="cell">
                                    <img src="assets/img/pgs/ALAA_breeder.png" width="250" height="148" alt="Austrailian Labradoodle Association of America" itemprop="image" />
                                </div><!-- cell   -->
                            </div><!-- table   -->
                        </li>
                        <li data-equalizer-watch>
                            <h3 class="show-for-sr" itemprop="memberOf">ALAA Silver Paw Breeder</h3>
                            <img src="assets/img/pgs/ALAA-Silver-Paw_Breeder.png" width="241" height="212" alt="ALAA Silver Paw Breeder" itemprop="image" />
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </section> <!-- END: Brand Trust   -->



    <div class="footer"> <!-- START: Bottom Black Bar   -->

        <div class="row">
            <div class="large-12 columns pb-1">

                <div class="row" data-equalizer data-equalizer-mq="large-up">

                    <div class="large-3 columns" data-equalizer-watch>
                        <nav role="navigation">
                            <ul class="inline-list">
                                <li><a href="#">Terms Of Use</a></li>
                                <li><a href="#">privacy</a></li>
                            </ul>

                        </nav>
                    </div><!-- columns   -->

                    <div class="large-6 columns" data-equalizer-watch>
                        <div class="table">
                            <div class="cell">
                                <div class="copyright">© 2015 Desert Waves Labradoodles.  All rights reserved.</div>
                            </div><!-- cell   -->
                        </div><!-- table   -->
                    </div><!-- columns   -->

                    <div class="large-3 columns" data-equalizer-watch>
                        <div class="phone"><a href="tel:505-280-4813" class="phone">(505) 280-4813</a></div>
                    </div><!-- columns   -->

                </div><!-- row   -->

            </div>
        </div><!-- row   -->

    </div> <!-- END: Bottom Black Bar   -->


</footer>
