<!-- ========================================= -->
<!-- !             NAVIGATION                  -->
<!-- ========================================= -->
<header>
    <div itemscope itemtype="https://schema.org/Organization">


        <div class="contain-to-grid top">
            <div class="row top-bar">
                <div class="large-12 columns">
                    <ul class="left">
                        <li class="icon-phone" itemprop="telephone"><a href="tel:{DW_phone}" class="phone">505.280.4813</a></li>
                    </ul>
                    <ul class="right inline-list show-for-medium-up">
                        <li>
                            <a href="{SM_facebook}" class="icon-facebook tip-top" target="_blank" data-tooltip aria-haspopup="true" data-options="show_on:large" title="Like me on Facebook">&nbsp;</a>
                        </li>
    <!--
                        <li>
                            <a href="{SM_instagram}" class="icon-instagram tip-top" target="_blank" data-tooltip aria-haspopup="true" data-options="show_on:large" title="Connect with me on linkedin">&nbsp;</a>
                        </li>
    -->
                        <li>
                            <a href="{SM_twitter}" class="icon-twitter tip-top" target="_blank" data-tooltip aria-haspopup="true" data-options="show_on:large" title="Follow me on twitter">&nbsp;</a>
                        </li>
                        <li>
                            <a href="{SM_gplus}" class="icon-google-plus tip-top" target="_blank" data-tooltip aria-haspopup="true" data-options="show_on:large" title="Connect with me on Google Plus">&nbsp;</a>
                        </li>


                        <li class="m-0">
                            <div class="off-canvas-wrap" data-offcanvas>
                              <div class="inner-wrap">

                                <a class="right left-off-canvas-toggle hide-for-large-up" href="#">MENU</a>

                                <nav class="left-off-canvas-menu">
                                    <ul>
                                        <li><a class="exit-off-canvas"><span class="icon-cross"></span>Close Menu</a></li>
                                        <li class="show-for-sr" ><h1 itemprop="name">{site_name}</h1></li>
                                        <li><h2><a href="index">Home</a></h2></li>
                                        <li><h2><label>Puppies</label></h2>
                                            <ul>
                                                <li><h3><a href="available-puppies">Available Puppies</a></h3></li>
                                                <li><h3><a href="future-litters">Future Litters</a></h3></li>
                                                <li><h3><a href="past-litters">Past Litters</a></h3></li>
                                            </ul>
                                        </li>
                                        <li><h2><label>Breeding Dogs</label></h2>
                                            <ul>
                                                <li><h3><a href="our-breeding-dogs">Our Breeding Dogs</a></h3></li>
                                                <li><h3><a href="breeding-dogs-for-sale">Breeding Dogs For Sale</a></h3></li>
                                            </ul>
                                        </li>
                                        <li><h2><label>About</label></h2>
                                            <ul>
                                                <li><h3><a href="about-us">About Us</a></h3></li>
                                                <li><h3><a href="about-labradoodles">About Labradoodles</a></h3></li>
                                            </ul>
                                        </li>
                                        <li><h2><a href="policies-fees">Policies & Fees</a></h2></li>
                                        <li><h2><a href="contact">Contact</a></h2></li>
                                        <li class="sm"><h2><label>Find Us On Social Media</label></h2>
                                            <ul class="inline-list">
                                                <li>
                                                    <a href="{SM_facebook}" class="icon-facebook" target="_blank" title="Like me on Facebook">&nbsp;</a>
                                                </li>
                                            <!--
                                                <li>
                                                    <a href="{SM_instagram}" class="icon-instagram" target="_blank" title="Connect with me on linkedin">&nbsp;</a>
                                                </li>
                                            -->
                                                <li>
                                                    <a href="{SM_twitter}" class="icon-twitter" target="_blank" title="Follow me on twitter">&nbsp;</a>
                                                </li>
                                                <li>
                                                    <a href="{SM_gplus}" class="icon-google-plus" target="_blank" title="Connect with me on Google Plus">&nbsp;</a>
                                                </li>
                                            </ul>
                                        </li>

                                    </ul>
                                </nav>

                                 <!-- main content goes here -->

                                <!-- close the off-canvas menu -->
                                <a class="exit-off-canvas"></a>

                              </div>
                            </div>
                        </li>

                    </ul>



                </div>
            </div>
        </div><!--	contain-to-grid	-->



        <div class="navigation-section">
            <div class="row">
                <div class="large-12 columns">

                    <nav class="top-bar" data-topbar role="navigation">

                            <div class="middle tab-bar-section">
                                <div class="logo">
                                    <a href="index" itemprop="url">
                                        <img src="assets/img/pgs/DWLabradoodle_LOGO.svg" width="270" height="137" alt="{site_name}" itemprop="logo" />
                                    </a>
                                </div>

                            </div>

                            <div class="top-bar-section">
                                <ul class="left">
                                    <li class="dw-gradient_left">&nbsp;</li>
                                    <li class="active show-for-large-up"><a href="index">Home</a></li>
                                    <li class="has-dropdown show-for-large-up"><a href="available-puppies">Puppies</a>
                                        <ul class="dropdown">
                                            <li><a href="available-puppies">Available Puppies</a></li>
                                            <li><a href="future-litters">Future Litters</a></li>
                                            <li><a href="past-litters">Past Litters</a></li>
                                        </ul>
                                    </li>
                                    <li class="has-dropdown show-for-large-up"><a href="our-breeding-dogs">Breeding Dogs</a>
                                        <ul class="dropdown">
                                            <li><a href="our-breeding-dogs">Our Breeding Dogs</a></li>
                                            <li><a href="breeding-dogs-for-sale">Breeding Dogs For Sale</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>

                            <div class="top-bar-section show-for-large-up">
                                <ul class="right">
                                    <li class="dw-gradient_right">&nbsp;</li>
                                    <li class="has-dropdown"><a href="about-us">About</a>
                                        <ul class="dropdown">
                                            <li><a href="about-us">About Us</a></li>
                                            <li><a href="about-labradoodles">About Labradoodles</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="policies-fees">Policies & Fees</a></li>
                                    <li><a href="contact">Contact</a></li>
                                </ul>
                            </div>

                    </nav><!--	/top-bar		-->

                </div>
            </div><!--	/row		-->
        </div><!--	navigation-section show-for-large-up fixed	-->


    </div><!-- ENDS itemtype="https://schema.org/Organization" -->

</header>
