
<section> <!-- START: cta   -->

    <!-- ========================================= -->
    <!-- !                 CTA SIGNUP                    -->
    <!-- ========================================= -->
    <div class="custom-panel notify bkgd-grad dw-gradient_left">

        <div class="row">
            <div class="large-12 columns">
                <h2>Would you like to be notified when our next litter is planned?</h2>
            </div>
        </div><!-- /row   -->

        <div class="row">
            <div class="large-8 columns large-centered">
                <form id="" method="post">
                    <div class="row">
                        <div class="large-8 medium-8 columns">
                            <input type="email" placeholder="username@address.com" required>
                        </div>
                        <div class="large-4 medium-4 columns">
                            <input type="submit" class="nice blue radius button small" value="Signup">
                        </div>
                    </div>
                </form>
                <div class="no-sharing">Your Email Will NOT Be Shared With Anyone</div>
            </div>
        </div><!-- /row   -->

    </div><!-- /cta-signup   -->

</section> <!-- END: cta   -->
