
//------------------------------------
// FOOTER
//------------------------------------

.brand-trust {
    P {
        font-size:1.25rem;
        color: scale-color($header-font-color, $lightness: 40%) !important;
        text-align: center;
        margin-bottom: 4rem;
    }
    li {
        text-align: center;
        margin: 1rem 0;
    }
    @media #{$medium-up} {
        p {
            font-size: rem-calc(25);
        }
    }
    @media #{$large-up} {

    }
}
.footer {
    background: $jet;
    color: $white;
    text-align: center;
    a {
        color: $white;
        &:hover {
            color: scale-color($white, $lightness: -30%);
        }
        &.phone {
            cursor: text;
            &:hover {
                color:$white;
            }
        }
    }
    .copyright {
        font-size: .9rem;
        text-align: center;
    }
    ul {
        margin-bottom: 0
    }
    .inline-list > li {
        float: none;
        display: inline-block;
        &:first-child {
            margin-left: 0;
        }
    }
    @media #{$medium-up} {

    }
    @media #{$large-up} {
        .phone {
            text-align: right;
        }
        .inline-list > li {
            float: left;
            display: block;
        }
    }

}
