{% block content %}

<!-- =============================================================== -->
<!-- !   http://lisacatalano.github.io/brackets_course/pc.html       -->
<!-- !   https://github.com/adobe/brackets/wiki/Brackets-Shortcuts   -->
<!-- =============================================================== -->


    <!-- HEADER -->
    {% include "header" %}
    <!-- End HEADER -->


<main>

    <section> <!-- START: create section: Hero, Intro and About   -->


        <!-- ========================================= -->
        <!-- !            HERO HEADER       http://codepen.io/dropside/pen/bxhke         -->
        <!-- ========================================= -->
        <div class="aboutus hero">
            <div class="bkgd-gradient_blk title-bkgd"></div>
            <div class="row">
                <div class="large-12 columns table">
                    <div class="container table">
                        <div class="cell bottom">
                            <h2 class="page-title">About Desert Waves Labradoodles</h2>
                        </div>
                    </div><!-- row	-->
                </div><!-- container	-->
            </div><!-- row	-->
        </div><!-- hero	-->







        <!-- ============================================== -->
        <!-- !                  INTRO                       -->
        <!-- ============================================== -->
        <div class="custom-panel grey" id="intro">
            <div class="row">
                <div class="large-12 columns">
                    <h3>Land of Enchantment</h3>
                    <div>
                        <p>Located near Albuquerque, New Mexico, we live in what is often called the Land of Enchantment.  We consider Labradoodles to be the dogs of Enchantment.  They have gentle and kind spirits mixed with just the right amount of playfulness.  They are smart, social, loyal, and easy to train.  Further, their soft wavy coats and athletic bodies give them an uncommonly beautiful appearance that speaks of casual elegance. And, of course, their low to non-shedding, allergy friendly coats help make Labradoodles a pleasure to have in your home.</p>
                    </div>
                </div>
            </div>
        </div>






        <!-- ============================================== -->
        <!-- !                  ABOUT                       -->
        <!-- ============================================== -->
        <div class="custom-panel white" id="sec_aboutus">
            <div class="row">
                <div class="large-12 columns">

                    <div class="row">

                        <div class="large-6 columns">
                            <div class="text-center">
                                <img src="assets/img/pgs/labradoodle-whelping.jpg" width="450" height="700" alt="Labradoodle Whelping" itemprop="image" />
                            </div>
                        </div
                            >
                        <div class="large-6 columns">
                            <div class="table">
                                <div class="cell">
                                    <h2 class="text-center">Our Breeding Program</h2>
                                    <p>We focus on breeding the finest Australian Labradoodles. We breed standard and medium size Labradoodles in various creams, apricot, red, caramel and chocolate colors. Dr. Meddleton helps Rosalita with her first litter As a Veterinarian, my husband, Dr. Mark Meddleton, is especially committed to breeding dogs that will uphold the health and soundness of this outstanding new breed. Our dogs are bred in our home where they receive lots of attention from the whole family including our two cats.  Labradoodles are known for being great with kids and cats.  We have certainly found that to be true.</p>
                                </div>
                            </div>
                        </div>
                    </div>



                </div>
            </div>
        </div>


    </section> <!-- END: create section: Hero, Intro and About   -->



    <!-- CTA SIGNUP -->
    {% include "signup" %}
    <!-- End CTA SIGNUP -->




</main>


    <!-- FOOTER -->
    {% include "footer" %}
    <!-- End FOOTER -->

{% endblock %}
