{% block content %}

<!-- =============================================================== -->
<!-- !   http://lisacatalano.github.io/brackets_course/pc.html       -->
<!-- !   https://github.com/adobe/brackets/wiki/Brackets-Shortcuts   -->
<!-- =============================================================== -->


    <!-- HEADER -->
    {% include "header" %}
    <!-- End HEADER -->


<main>

    <section> <!-- START: create section: Hero, Characteristics, Terms, Coat Types   -->


        <!-- ========================================= -->
        <!-- !            HERO HEADER       http://codepen.io/dropside/pen/bxhke         -->
        <!-- ========================================= -->
        <div class="aboutlabradoodles hero">
            <div class="bkgd-gradient_blk title-bkgd"></div>
            <div class="row">
                <div class="large-12 columns table">
                    <div class="container table">
                        <div class="cell bottom">
                            <h2 class="page-title">About Labradoodles</h2>
                        </div>
                    </div><!-- row	-->
                </div><!-- container	-->
            </div><!-- row	-->
        </div><!-- hero	-->







        <!-- ============================================== -->
        <!-- !                  INTRO                       -->
        <!-- ============================================== -->
        <div class="custom-panel grey" id="intro">
            <div class="row">
                <div class="large-12 columns">
                    <h3>Labradoodle Breed Origins</h3>
                    <div>
                        <p>Labradoodles were first bred by Wally Conron, the breeding manager of the Royal Guide Dog Association of Australia, in 1989.  He had received an inquiry from a vision-impaired woman whose husband was allergic to dog hair.  She was hoping for an allergy-free guide dog.</p>

                         <p>Mr. Conron mated a lab and poodle in the hopes of creating a suitable guide dog for this woman.  There were three pups in that first labradoodle litter, one of whose hair and coat was found to be allergy-free for the woman’s husband.</p>

                          <p>Almost immediately there was tremendous interest in these fabulous new dogs with service dog temperaments and allergy-friendly coats. The International Australian Labradoodle Association, Inc. (IALA) which is a Global Group consisting of Regional Sister Associations: the ALAA, (Australian Labradoodle Association of America), representing the U. S. and Canada and the ALA, (Australian Labradoodle Association), representing Australia, Europe, Asia and New Zealand was formed to monitor the development of this new breed.  It is their goal to establish a breed of dog known for its excellent health and exceptional temperament along with the other fine qualities of this breed.</p>

                         <p>The Labradoodle is still a developing breed.  Their intelligence, exceptional trainability, sweet dispositions, as well as the low to non-shedding allergy friendly coats of the multigeneration Labradoodles have made them very desirable.</p>

                        <blockquote >At Desert Waves Labradoodles our goal is to breed the finest Australian Labradoodles in various Cream, Apricot, Red, Caramel and Chocolate colors with a focus on health, confirmation, temperament and coat quality.</blockquote >
                    </div>
                </div>
            </div>
        </div>






        <!-- ============================================== -->
        <!-- !           BREED CHARACTERISTICS              -->
        <!-- ============================================== -->
        <div class="custom-panel red s-byside h-left">
            <div class="row">
                <div class="large-12 columns">

                    <div class="row" data-equalizer data-equalizer-mq="large-up">
                        <div class="large-6 columns" data-equalizer-watch>
                            <div class="table">
                            <div class="cell"><h3>Breed Characteristics</h3></div>
                            </div>
                        </div>
                        <div class="large-6 columns" data-equalizer-watch>
                            <div>
                                <p>Labradoodles come in various colors, sizes and coat types:</p>
                                <h4>Colors</h4>
                                <p>Chalk/white, Cream/Gold, Apricot, Red, Chocolate, Silver and Black.  Other colors are all variations of these.  Some puppies' coats will lighten and others will darken as they mature.</p>

                                <h4>Sizes</h4>
                                <ul class="no-bullet">
                                    <li>Standard: 21" to 24" and 45 lbs to over 65 lbs</li>
                                    <li>Medium: 17 " to 20" and 30 lbs to 45 lbs</li>
                                    <li>Miniature: 14" to 16 " and 15 lbs to 30 lbs</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>



        <!-- ============================================== -->
        <!-- !           LABRADOODLE TERMS                  -->
        <!-- ============================================== -->
        <div class="custom-panel blue s-byside h-right">
            <div class="row">
                <div class="large-12 columns">

                    <div class="row" data-equalizer data-equalizer-mq="large-up">
                        <div class="large-6 columns" data-equalizer-watch>
                            <div>
                                <h3 class="hide-for-large-up">Labradoodle Terms</h3>
                                <h4>F1</h4>
                                <p>(50% Lab & 50% Poodle cross)  This is a first cross - Labrador Retriever to Standard Poodle.  This cross results in a wide range of appearances and shedding types.</p>
                                <h4>F1B</h4>
                                <p>(25% Lab & 75% Poodle cross) This is a first cross Labradoodle bred to a Standard Poodle to improve the coat quality. Most are non-shedding.</p>
                                <h4>Multi-Generational American Labradoodle or Australian Labradoodle</h4>
                                <p>(these dogs are 65% - 85% Poodle) F1B Labradoodle bred to an F1B Labradoodle or higher multigenerational labradoodle or an Australian labradoodle. These are non-shedding dogs.</p>
                            </div>
                        </div>
                        <div class="large-6 columns" data-equalizer-watch>
                            <div class="table">
                            <div class="cell"><div class="h3 show-for-large-up">Labradoodle Terms</div></div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>






        <!-- ============================================== -->
        <!-- !           LABRADOODLE COAT TYPES             -->
        <!-- ============================================== -->
        <div class="custom-panel grey s-byside h-left">
            <div class="row">
                <div class="large-12 columns">

                    <div class="row" data-equalizer data-equalizer-mq="large-up">
                        <div class="large-6 columns" data-equalizer-watch>
                            <div class="table">
                            <div class="cell"><h3>Labradoodle Coat Types</h3></div>
                            </div>
                        </div>
                        <div class="large-6 columns" data-equalizer-watch>
                            <div>
                                <h4>F1 Coats</h4>
                                <p>Vary from a little shedding to lots of shedding and can be wavy, borderline wavy, or straight.</p>
                                <h4>F1B Coats</h4>
                                <p>can be shedding or non-shedding and can be wooly, curly, fleece, wavy or borderline wavy coats.</p>
                                <h4>Multi-Generational American Labradoodle or Australian Labradoodle Coats</h4>
                                <p>Non-shedding and allergy friendly wooly, curly or fleece coat.v</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>







    </section> <!-- END: create section: Hero, Characteristics, Terms, Coat Types    -->



    <!-- CTA SIGNUP -->
    {% include "signup" %}
    <!-- End CTA SIGNUP -->




</main>


    <!-- FOOTER -->
    {% include "footer" %}
    <!-- End FOOTER -->

{% endblock %}
