{% block content %}

<!-- =============================================================== -->
<!-- !   http://lisacatalano.github.io/brackets_course/pc.html       -->
<!-- !   https://github.com/adobe/brackets/wiki/Brackets-Shortcuts   -->
<!-- =============================================================== -->


    <!-- HEADER -->
    {% include "header" %}
    <!-- End HEADER -->


<main>

    <section> <!-- START: create section: Hero, Intro, Litters   -->


        <!-- ========================================= -->
        <!-- !            HERO HEADER       http://codepen.io/dropside/pen/bxhke         -->
        <!-- ========================================= https://www.fourfront.us/blog/jquery-window-width-and-media-queries -->
        <div class="contact hero">
            <div class="bkgd-gradient_blk title-bkgd"></div>
            <div class="row">
                <div class="large-12 columns table">
                    <div class="container table">
                        <div class="cell bottom">
                            <h2 class="page-title">Past Litters</h2>
                        </div>
                    </div><!-- row	-->
                </div><!-- container	-->
            </div><!-- row	-->
        </div><!-- hero	-->






        <!-- ============================================== -->
        <!-- !                  INTRO                       -->
        <!-- ============================================== -->
        <div class="custom-panel grey" id="intro">
            <div class="row">
                <div class="large-12 columns">
                    <h3>My Eloquent Heading</h3>
                    <div>
                        <p>This is Placeholder text. Please come up with short paragraph and heading. Laoreet mollitia cumque error diam! Nullam occaecati placerat tincidunt recusandae ridiculus excepteur, massa! Nulla culpa dolore praesent luctus eius? Provident rerum accusantium? Congue explicabo neque alias felis, ridiculus blandit accumsan netus, dis cillum auctor potenti earum vestibulum rem euismod! Quae auctor mollitia nec aliquid ornare? Varius, reiciendis </p>
                    </div>
                </div>
            </div><!-- row	-->
        </div><!-- intro	-->




        <!-- ======================================= -->
        <!-- !               LITTER                  -->
        <!-- ======================================= -->
        <div class="custom-panel red litterbox">
            <div class="row">
                <div class="large-12 columns">



                    <ul class="small-block-grid-1 medium-block-grid-3 large-block-grid-3">
                        <li>
                            <div class="wrap">
                                <img src="assets/img/pgs/available-puppies_litter.jpg" width="600" height="600" alt="" itemprop="image" />
                                <div class="dog-size">
                                    <div>Birth Date</div>
                                    <div>March 17, 2015</div>
                                </div>
                                <div class="dog-description" itemprop="description">
                                    <p>A St. Patty's Day Litter! On St. Patrick's Day Becca gave birth to a lovely litter of beautiful creams! I guess that makes them Irish Creams! Becca seems particularly proud of this litter. She has been beaming ever since she gave birth. To me they look as sweet and beautiful as always...</p>

                                </div>
                                <a href="litter" class="rmore" itemprop="url">View This Litter</a>
                            </div><!-- /wrap   -->
                        </li>
                        <li>
                            <div class="wrap">
                                <img src="assets/img/pgs/available-puppies_litter.jpg" width="600" height="600" alt="" itemprop="image" />
                                <div class="dog-size">
                                    <div>Birth Date</div>
                                    <div>March 17, 2015</div>
                                </div>
                                <div class="dog-description" itemprop="description">
                                    <p>A St. Patty's Day Litter! On St. Patrick's Day Becca gave birth to a lovely litter of beautiful creams! I guess that makes them Irish Creams! Becca seems particularly proud of this litter. She has been beaming ever since she gave birth. To me they look as sweet and beautiful as always...</p>

                                </div>
                                <a href="litter" class="rmore" itemprop="url">View This Litter</a>
                            </div><!-- /wrap   -->
                        </li>
                        <li>
                            <div class="wrap">
                                <img src="assets/img/pgs/available-puppies_litter.jpg" width="600" height="600" alt="" itemprop="image" />
                                <div class="dog-size">
                                    <div>Birth Date</div>
                                    <div>March 17, 2015</div>
                                </div>
                                <div class="dog-description" itemprop="description">
                                    <p>A St. Patty's Day Litter! On St. Patrick's Day Becca gave birth to a lovely litter of beautiful creams! I guess that makes them Irish Creams! Becca seems particularly proud of this litter. She has been beaming ever since she gave birth. To me they look as sweet and beautiful as always...</p>

                                </div>
                                <a href="litter" class="rmore" itemprop="url">View This Litter</a>
                            </div><!-- /wrap   -->
                        </li>
                        <li>
                            <div class="wrap">
                                <img src="assets/img/pgs/available-puppies_litter.jpg" width="600" height="600" alt="" itemprop="image" />
                                <div class="dog-size">
                                    <div>Birth Date</div>
                                    <div>March 17, 2015</div>
                                </div>
                                <div class="dog-description" itemprop="description">
                                    <p>A St. Patty's Day Litter! On St. Patrick's Day Becca gave birth to a lovely litter of beautiful creams! I guess that makes them Irish Creams! Becca seems particularly proud of this litter. She has been beaming ever since she gave birth. To me they look as sweet and beautiful as always...</p>

                                </div>
                                <a href="litter" class="rmore" itemprop="url">View This Litter</a>
                            </div><!-- /wrap   -->
                        </li>
                        <li>
                            <div class="wrap">
                                <img src="assets/img/pgs/available-puppies_litter.jpg" width="600" height="600" alt="" itemprop="image" />
                                <div class="dog-size">
                                    <div>Birth Date</div>
                                    <div>March 17, 2015</div>
                                </div>
                                <div class="dog-description" itemprop="description">
                                    <p>A St. Patty's Day Litter! On St. Patrick's Day Becca gave birth to a lovely litter of beautiful creams! I guess that makes them Irish Creams! Becca seems particularly proud of this litter. She has been beaming ever since she gave birth. To me they look as sweet and beautiful as always...</p>

                                </div>
                                <a href="litter" class="rmore" itemprop="url">View This Litter</a>
                            </div><!-- /wrap   -->
                        </li>
                        <li>
                            <div class="wrap">
                                <img src="assets/img/pgs/available-puppies_litter.jpg" width="600" height="600" alt="" itemprop="image" />
                                <div class="dog-size">
                                    <div>Birth Date</div>
                                    <div>March 17, 2015</div>
                                </div>
                                <div class="dog-description" itemprop="description">
                                    <p>A St. Patty's Day Litter! On St. Patrick's Day Becca gave birth to a lovely litter of beautiful creams! I guess that makes them Irish Creams! Becca seems particularly proud of this litter. She has been beaming ever since she gave birth. To me they look as sweet and beautiful as always...</p>

                                </div>
                                <a href="litter" class="rmore" itemprop="url">View This Litter</a>
                            </div><!-- /wrap   -->
                        </li>
                        <li>
                            <div class="wrap">
                                <img src="assets/img/pgs/available-puppies_litter.jpg" width="600" height="600" alt="" itemprop="image" />
                                <div class="dog-size">
                                    <div>Birth Date</div>
                                    <div>March 17, 2015</div>
                                </div>
                                <div class="dog-description" itemprop="description">
                                    <p>A St. Patty's Day Litter! On St. Patrick's Day Becca gave birth to a lovely litter of beautiful creams! I guess that makes them Irish Creams! Becca seems particularly proud of this litter. She has been beaming ever since she gave birth. To me they look as sweet and beautiful as always...</p>

                                </div>
                                <a href="litter" class="rmore" itemprop="url">View This Litter</a>
                            </div><!-- /wrap   -->
                        </li>
                        <li>
                            <div class="wrap">
                                <img src="assets/img/pgs/available-puppies_litter.jpg" width="600" height="600" alt="" itemprop="image" />
                                <div class="dog-size">
                                    <div>Birth Date</div>
                                    <div>March 17, 2015</div>
                                </div>
                                <div class="dog-description" itemprop="description">
                                    <p>A St. Patty's Day Litter! On St. Patrick's Day Becca gave birth to a lovely litter of beautiful creams! I guess that makes them Irish Creams! Becca seems particularly proud of this litter. She has been beaming ever since she gave birth. To me they look as sweet and beautiful as always...</p>

                                </div>
                                <a href="litter" class="rmore" itemprop="url">View This Litter</a>
                            </div><!-- /wrap   -->
                        </li>
                    </ul>


                </div>
            </div><!-- row	-->
        </div><!-- red panel	-->






    </section> <!-- END: create section: Hero, Intro, Litters      -->





</main>


    <!-- FOOTER -->
    {% include "footer" %}
    <!-- End FOOTER -->

{% endblock %}
